<h1>Edit Page</h1>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
  <% end %>
  </ul>
<% end %>  

<%= form_for @dj do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :bio %>
<%= f.text_area :bio %>
<%= f.submit %>
<% end %>
