<h1>Dj Profile Page</h1>

<div class="dj-info">
  <h3>Username</h3>
    <p><%= @dj.username %></p>
</div>

<div class="dj-info">
  <h3>Name </h3>
    <p><%= @dj.name %></p>
</div>

<div class="dj-info">    
  <h3>Bio</h3>
    <p><%= @dj.bio %></p>
</div>

<h2>Created Playlists</h2>
<ol>
  <% @dj.playlists.each do |playlist| %>
  <li><%= playlist.name %></li>
  <% end %>
</ol>

<h2>Liked Playlists</h2>
<ol>
  <% @dj.liked_playlists.each  do |playlist| %>
  <li><%= link_to playlist.name, playlist %></li>
  <% end %>
</ol>


<br>

<h2></h2>

<h4>Actions Must be Taken:</h4>
<ul>
  <li><%= link_to "edit info", edit_dj_path %></li>
  <li><%= link_to "delete profile", @dj, method: :delete  %></li>
</ul>
