<!DOCTYPE html>
<html>
  <head>
    <title>GENREFluid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= mp3_player_headers %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-expand-md fixed-top">
      <a class="navbar-brand" href="#">GenreFluid
        <!-- <img src="/app/assets/images/logo.jpg" width="160" height="88" alt="logo image"> -->
      </a>

      <!-- Navbar Collapse button for smaller screen and phone-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Collapse button end -->

      <!-- Navbar Links start-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "My Profile", @current_dj , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", "/logout", method: :delete, class: "nav-link" %>
          </li>
        </ul>

        <!-- Navbar Links end-->

        <!--Navbar Search start-->
        <!-- <form class="form-inline my-1 my-md-0">
          <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <a href=""class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="submit">Search</button> -->
          <%= form_tag songs_path, method: "get", html: { class: "form-inline my-1 my-md-0" } do %>
          <div class="form-group ">
            <%= text_field_tag(:search_term, "", class: "form-control") %>
          <%= submit_tag "search", class: "btn btn-outline-danger" %>
          </div>
          <% end %>

        <!-- </form> -->
      </div>
      <!--Navbar Search end-->
</nav>
    <%= yield %>
  </body>
</html>
